#new_schedule {
    position: absolute;
    top: 15%;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    right: 20vw;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background-color: #ffffff;
    z-index: -1;
    cursor: pointer;
    transition: background-color 150ms linear, opacity 100ms ease-out;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    #new_schedule {
        right: 5vw;
    }
}

#new_schedule:hover {
    background-color: #e5eaf0;
}

#new_schedule > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #33353E;
    font-size: 22px;
    transition: color 150ms linear;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    filter: opacity(70%);
    transition: filter 300ms linear;
}

#add_pnl {
    position: fixed;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 5px;

    background-color: white;
}

#header > p {
    position: absolute;
    top: -2.5%;
    left: 3%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    display: flex;
    align-items: center;

    color: #327DFF;
}

#header > i {
    position: absolute;
    top: 6.25%;
    right: 3%;

    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;

    color: #bbbbbb;
}

#header > hr {
    position: absolute;
    left: 0%;
    right: 65%;
    bottom: 85%;
    height: 2px;

    border: 0;
    border-radius: 100rem;

    background-color: #e7ebf0;
}

#body {
    position: absolute;
    left: 3%;
    right: 3%;
    bottom: 10%;
    height: 72.5%;
}

#vl {
    position: absolute;
    top: 0px;
    bottom: 75px;
    width: 2px;
    left: 50%;
    transform: translateX(50%);
    background-color: #e7ebf0;
    border: 0;
    border-radius: 100rem;
}

#title_input:focus, #time_input:focus, #ctgr_input:focus, #nickname_input:focus, #id_input:focus, #pw_input:focus, #type_input:focus, #link_input:focus {
    border: #327DFF solid 1.5px;
}

#title {
    position: absolute;
    margin-top: 0%;
    left: 1.25%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #4a4c53;
    display: flex;
    align-items: center;

    color: #5c5f64;
}

#title_input {
    position: absolute;
    top: 8.5%;
    left: 1.25%;

    width: 325px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#ctgr {
    position: absolute;
    margin-top: 0%;
    left: 55%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;

    color: #5c5f64;
}

#ctgr_input {
    position: absolute;
    top: 8.5%;
    left: 55%;

    width: 325px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    color: #4a4c53;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#pnl_time {
    position: absolute;
    margin-top: 10%;
    left: 1.25%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;

    color: #5c5f64;
}

#time_input {
    position: absolute;
    top: 30.05%;
    left: 1.25%;
    min-width: 15%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    color: #4a4c53;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#day {
    position: absolute;
    margin-top: 10%;
    left: 55%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;

    color: #5c5f64;
}

#day_input {
    position: absolute;
    top: 30.05%;
    left: 55%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: none;
    color: #4a4c53;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#day_input > label > button {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 12.5px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;

    background-color: #c8cfd4;
    border: none;
    outline: none;
    cursor: pointer;

    transition: background-color 150ms linear;
}

#nickname {
    position: absolute;
    margin-top: 20%;
    left: 1.25%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #5c5f64;
    display: flex;
    align-items: center;
}

#nickname_input {
    position: absolute;
    top: 51.8%;
    left: 1.25%;

    width: 325px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#type {
    position: absolute;
    margin-top: 30%;
    left: 1.25%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    align-items: center;

    color: #5c5f64;
}

#type_input {
    position: absolute;
    top: 73.65%;
    left: 1.25%;

    width: 325px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    color: #4a4c53;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear, background-color 100ms linear;
}

#_id, #link {
    position: absolute;
    margin-top: 30%;
    left: 55%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #5895ff;
    display: flex;
    align-items: center;
}

#id_input {
    position: absolute;
    top: 73.65%;
    left: 55%;

    width: 150px;
    color: #327DFF;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#pw {
    position: absolute;
    margin-top: 30%;
    left: 73.5%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #5895ff;
    display: flex;
    align-items: center;
}

#pw_input {
    position: absolute;
    top: 73.65%;
    left: 73.5%;

    width: 150px;
    color: #327DFF;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#link_input {
    position: absolute;
    top: 73.65%;
    left: 55%;

    width: 325px;
    color: #327DFF;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    outline: none;
    border: #e7ebf0 solid 1.5px;
    border-radius: 4px;
    align-items: center;

    transition: border 100ms linear;
}

#add_pnl > input {
    position: absolute;
    width: 20%;
    height: 50px;
    left: 40%;
    bottom: 30px;
    outline: none;
    border: none;
    background-color: #327dff;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.45);
    transition: background 150ms linear;
    cursor: pointer;

    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    transition: background 150ms linear;
}

#add_pnl > input:hover {
    background: #4688ff;
}

#add_pnl > input:active {
    background: #276de6;
}

#add_pnl > input:active > p{
    color: #c2c2c2;
}