.schedule {
    position: relative;
    width: 100%;
    height: 125px;
    display: flex;
}

.schedule > hr {
    position: absolute;
    top: 93%;
    width: 100%;
    height: 2px;

    border: 0;
    border-radius: 100rem;

    background-color: #e7ebf0;
}

.schedule > h1 {
    position: absolute;
    top: 13%;
    bottom: 100%;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    display: flex;
    align-items: center;

    color: #33353E;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

#t_vl1 {
    position: absolute;
    width: 2px;
    height: 35px;
    top: 19%;
    bottom: 100%;
    right: 115px;
    background-color: #e7ebf0;
    border: 0;
    border-radius: 100rem;
}

#title_i1 {
    position: absolute;
    top: 21.4%;
    bottom: 100%;
    right: 65px;

    font-size: 28px;

    color: #327DFF;
    
    cursor: pointer;
}

#t_vl2 {
    position: absolute;
    width: 2px;
    height: 35px;
    top: 19%;
    bottom: 100%;
    right: 47px;
    background-color: #e7ebf0;
    border: 0;
    border-radius: 100rem;
}

#title_i2 {
    position: absolute;
    top: 21.4%;
    bottom: 100%;
    right: 0px;
    margin-top: 1px;

    font-size: 28px;

    color: #327DFF;
    cursor: pointer;
}

#time_i {
    position: absolute;
    top: 63%;
    bottom: 100%;

    font-size: 21px;

    color: #327DFF;
}

#time {
    position: relative;
    top: 65%;
    bottom: 100%;
    left: 30px;
    margin-top: -7px;
    width: auto;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;

    color: #327DFF;
}

#m_vl1 {
    position: relative;
    width: 2px;
    height: 20px;
    top: 63%;
    bottom: 100%;
    background-color: #e7ebf0;
    border: 0;
    border-radius: 100rem;
}

#name_i {
    position: relative;
    top: 63%;
    bottom: 100%;
    left: 149px;

    font-size: 21px;

    color: #327DFF;
}

#name {
    position: relative;
    top: 65%;
    bottom: 100%;
    left: 175px;
    margin-top: -7px;
    width: auto;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;

    color: #327DFF;
}

#m_vl2 {
    position: relative;
    width: 2px;
    height: 20px;
    top: 63%;
    bottom: 100%;
    background-color: #e7ebf0;
    border: 0;
    border-radius: 100rem;
}

#id {
    position: relative;
    top: 65%;
    bottom: 100%;
    margin-top: -7px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 21px;

    color: #327DFF;
}
