#login {
    margin-top: 10%;
    text-align: center;
}

#form {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.input {
    border: #d2d5d8 solid 1.5px;
    border-radius: 4px; 
    outline: none;
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 8px;
    margin-left: 0;
    padding-top: 3%;
    text-align: center;
    transition: border 100ms linear;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.input:focus {
    border: #327DFF solid 2px;
}

.button {
    margin-top: 5%;

    height: 50px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    bottom: 30px;
    outline: none;
    border: none;
    background-color: #327dff;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.45);
    transition: background 150ms linear;
    cursor: pointer;

    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 650;
    font-size: 26px;
    text-align: center;
    transition: background 150ms linear;
}