::placeholder {
  color: #b4b6be;
  opacity: 1;
}

:-ms-input-placeholder {
    color: #b4b6be;
}

::-ms-input-placeholder {
    color: #b4b6be;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    height: 100%;
    margin: 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

label, label > input {
    cursor: pointer;
}

#category {
    position: absolute;
    width: 90vw;
    margin-top: 5vh;
    margin-left: 14vw;
}

#category > p {
    position: absolute;
    height: 5vh;
    left: 32.5px;
    margin-top: 5.5vh;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 51px;

    color: #33353E;
}

#category > i {
    position: absolute;
    height: 5vh;
    left: 2px;
    margin-top: 5vh;

    font-size: 21px;
    line-height: 60px;

    color: #33353E;
}

#ct_hr {
    position: absolute;
    left: 14%;
    right: 12vw;
    bottom: 78.6%;
    top: 15%;
    height: 2px;

    border: 0;
    border-radius: 100rem;

    background-color: #e7ebf0;
}

#sch_div {
    position: absolute;
    left: 14%;
    right: 14%;
    top: 16%;
}

@keyframes sch_fade {
    from {
        padding-top: 50px;
        opacity: 0;
    } to {
        padding-top: 0;
        opacity: 1;
    }
}

@keyframes ct_hr_fade {
    from {
        top: 189px;
        opacity: 0;
    } to {
        top: 139px;
        opacity: 1;
    }
}

@keyframes hr_fade {
    from {
        top: 166px;
        opacity: 0;
    } to {
        top: 116px;
        opacity: 1;
    }
}