@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

p::selection, h1::selection {
    color: #ffffff;
    background-color: #33353E;
}

#copyright {
    position: absolute;
    top: 95vh;
    left: 33%;
    width: 595px;
    height: 36px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    color: #33353e;
    animation: m_icon_enable 2s;
}

@keyframes e_pnl_enable {
    from {
        left: -25vw;
    } to {
        left: 0vw;
    }
}

.introduce {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%,-40%);
    width: 70%;
    /* margin-right: 10%;
    margin-left: 8%; */
}

@media screen and (max-width: 650px) {
    .introduce {
        left: 5%;
    }
    #copyright {
        text-align: center;
        left: -10%;
    }
    #m_icon_div {
        visibility: hidden;
    }
    #m_title {
        font-size: 1em;
    }
}

#m_title {
    position: relative;
    top: 170px;
    left: 190px;/*190px */
    width: 60%; /* 815px */
    height: 30%; /* 275px */
    text-align: left;
    font-family: 'Heebo', sans-serif;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 1.2px;
    color: #33353e;
    animation: m_title_enable 2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#m_icon_div {
    position: relative;
    top: -160px;
    left: 75%; /*1040px*/
    height: auto;
    width: auto;
    animation: m_icon_enable 2s;
}

#m_get_github {
    position: relative;
    top: -282px;
    left: 190px;
    width: 64px;
    height: 64px;
    background: #ffffff 0 0 no-repeat padding-box;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.45);
    border-radius: 43px;
    border: 0;
    outline: 0;
    transition: background-color 150ms linear;
    animation: m_icon_enable 2s;
    cursor: pointer;
}

#m_get_start {
    position: relative;
    top: -297px;
    left: 215px;
    width: 235px;
    height: 64px;
    background: #327DFF 0 0 no-repeat padding-box;
    box-shadow: 0 6px 25px rgba(50, 125, 255, 0.45);
    border-radius: 43px;
    border: 0;
    outline: 0;
    transition: all 150ms linear;
    animation: m_icon_enable 2s;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#m_get_start_text, #m_get_start_icon {
    transition: all 150ms linear;
}

#m_get_start:hover {
    background: #4688ff;
    width: 250px;
}

#m_get_github:hover {
    background: #efefef;
}

#m_get_start:active {
    background: #276de6;
}

#m_get_github:active {
    background: #d7d7d7;
}

#m_get_start:active > p, #m_get_start:active > i {
    color: #c2c2c2;
}

#m_get_start_text {
    position: absolute;
    top: -22.5px;
    left: 2%;
    width: 193px;
    height: 62px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
}

#m_get_start_icon {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right: 5%;
    color: #ffffff;
    opacity: 1;
}
